{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
    <h1>Shop</h1>
    <main>
        <section class="products">
            {% for product in products %}
            <div class="product {% if product == selected_product %}selected{% endif %}">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Rs {{ product.price }}</p>
                <form method="post" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit" class="add_to_cart_button">Add to Cart</button>
                </form>
                <form method="post" action="{% url 'order_now' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit" class="order-now-button">Order Now</button>
                </form>
            </div>
            {% endfor %}
        </section>
    </main>
    
</body>
</html>
